#js-warning, #problem-controls, #solution-spinner, #countdown-container, #solution-lists, #solution-locked, .explanation, #name-input-form, #presentation-mode, #summary {
  display: none;
}

.uninit #js-warning {
  display: block;
}

.init #problem-controls {
  display: block;
}

.problem-is-set #solution-spinner {
  display: block;
}
.problem-is-set #countdown-container {
  display: block;
}
.problem-is-set #solution-lists {
  display: inline-flex;
}

.solution-locked #solution-locked {
  display: block;
}
#solution-locked.because-accepted .explanation.match-found, #solution-locked.because-stubborn .explanation.no-match {
  display: block;
}

.solution-list {
  margin: 5px;
}

.solution-locked #name-input-form {
  display: block;
}

/* The only time we actually hide the original problem line */
.presentation-mode #problem-line {
  display: none;
}
.presentation-mode #presentation-mode {
  display: block;
}
.presentation-mode #countdown-container {
  display: block;
}

.summarize #summary {
  display: block;
}
#summary li .problem {
  font-weight: bold;
  margin-right: 0.2em;
}
#summary li .solution {
  font-style: italic;
}

/* Buttons should be big enough to be touch targets */
button {
  font-size: xxx-large;
}