#js-warning, #solution-spinner, #countdown-container, #solution-lists {
  display: none;
}

.uninit #js-warning {
  display: block;
}

.problem-is-set #problem-controls {
  display: none;
}
.problem-is-set #solution-spinner {
  display: block;
}
.problem-is-set #countdown-container {
  display: block;
}
.problem-is-set #solution-lists {
  display: inline-flex;
}

.solution-list {
  margin: 5px;
}