#js-warning, #problem-controls, #solution-spinner, #countdown-container, #solution-lists, #solution-locked, .explanation, #name-input-form, #solution-with-name {
  display: none;
}

.uninit #js-warning {
  display: block;
}

.init #problem-controls {
  display: block;
}

.problem-is-set #solution-spinner {
  display: block;
}
.problem-is-set #countdown-container {
  display: block;
}
.problem-is-set #solution-lists {
  display: inline-flex;
}

.solution-locked #solution-locked {
  display: block;
}
#solution-locked.because-accepted .explanation.match-found, #solution-locked.because-stubborn .explanation.no-match {
  display: block;
}

.solution-list {
  margin: 5px;
}

.solution-locked #name-input-form {
  display: block;
}

.solution-named #solution-with-name {
  display: block;
}